@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* color config for getlinkedai ---hsl values*/
  :root {
    --background: 256 48% 11%;
    --contactpagebackground: 256 50% 10%;
    --foreground: 0 0% 95%;

    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;

    --primary: 288 99% 60%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 0 0% 100%;
    --input: 240 3.7% 15.9%;

    --ring: 346.8 77.2% 49.8%;
  }
}

.flareBg {
  background-image: url("/flare.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  background-origin: padding-box;
}
.gradient {
  background: linear-gradient(
    -45deg,
    rgb(144, 58, 255) 0%,
    rgb(212, 52, 254) 56.42%,
    rgb(255, 37.9, 184.51) 99.99%,
    rgb(254, 52, 185.32) 100%
  );
  /* transition: background 5000ms ease-in-out; */
}
.border-gradient {
  border-image: linear-gradient(
    -45deg,
    rgb(144, 58, 255) 0%,
    rgb(212, 52, 254) 56.42%,
    rgb(255, 37.9, 184.51) 99.99%,
    rgb(254, 52, 185.32) 100%
  );
  border-image-slice: 1;
}
/* .gradient:hover {
  background: linear-gradient(
    45deg,
    rgb(144, 58, 255) 0%,
    rgb(212, 52, 254) 56.42%,
    rgb(255, 37.9, 184.51) 99.99%,
    rgb(254, 52, 185.32) 100%
  );
} */
